
  
  body {
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  form{
    width: 250px;
    height: 450px;
    margin: auto;
    background-color: rgb(157, 187, 187);
    padding: 20px;
  }
  h1{
    color: rgb(93, 123, 175);
    font-family: 'Courier New', Courier, monospace;
  }
  
 form input {
    border: none;
    width: 90%;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
    margin-bottom: 15px;
    
}
#submitButton ,#refreshButton {
  background: hotpink;
  color: white;
  box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  outline: none;
  border: none;
  padding: 5px;
  margin: 5px;
}
